body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.30); /* Adjust the alpha value (last parameter) to control the darkness of the overlay */
}
.caption{
  position : 'absolute';
  top : 100;
  left : 0;
  border : '1px solid red'
}
.label{
  position : 'absolute';
  color : 'white';
  top : 50;
  left : 100;
  font-size : '2.5rem'
}
